In [7]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [8]:
df = pd.read_csv("Match.csv")
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [9]:
df.shape

(69761, 21)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69761 entries, 0 to 69760
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          69761 non-null  int64
 1   inning            69761 non-null  int64
 2   batting_team      69761 non-null  object
 3   bowling_team      69761 non-null  object
 4   over              69761 non-null  int64
 5   ball              69761 non-null  int64
 6   batsman           69761 non-null  object
 7   non_striker       69761 non-null  object
 8   bowler            69761 non-null  object
 9   is_super_over     69761 non-null  int64
 10  wide_runs         69761 non-null  int64
 11  bye_runs          69761 non-null  int64
 12  legbye_runs       69761 non-null  int64
 13  noball_runs       69761 non-null  int64
 14  penalty_runs      69761 non-null  int64
 15  batsman_runs      69761 non-null  int64
 16  extra_runs        69761 non-null  int64
 17  total_runs        69761 non-null  int64
 18  player_dismissed  3516 non-null   object
 19  dismissal_kind    3516 non-null   object
 20  fielder           2529 non-null   object
dtypes: int64(13), object(8)
memory usage: 11.2+ MB

In [11]:
df[["player_dismissed"]].value_counts()

player_dismissed
RG Sharma           59
SK Raina            59
AC Gilchrist        57
G Gambhir           56
Yuvraj Singh        55
                    ..
A Choudhary          1
BAW Mendis           1
H Das                1
GR Napier            1
Jaskaran Singh       1
Length: 354, dtype: int64

In [12]:
df[["fielder"]].value_counts()

fielder
RV Uthappa         61
KD Karthik         57
MS Dhoni           55
AC Gilchrist       54
KC Sangakkara      46
                   ..
RA Jadeja (sub)     1
Misbah-ul-Haq       1
AD Mascarenhas      1
M Kaif (sub)        1
KS Williamson       1
Length: 352, dtype: int64

In [13]:
df[["dismissal_kind"]].value_counts()

dismissal_kind
caught               2029
bowled                650
run out               379
lbw                   223
stumped               121
caught and bowled     106
hit wicket              4
retired hurt            4
dtype: int64

In [14]:
9#Find Team wise runs scored.
a = df.groupby(["batting_team"])["total_runs"].sum()
a

batting_team
Chennai Super Kings             9253
Deccan Chargers                 8931
Delhi Daredevils               10654
Gujarat Lions                   2412
Kings XI Punjab                10763
Kochi Tuskers Kerala            1760
Kolkata Knight Riders           9924
Mumbai Indians                 11202
Pune Warriors                   1657
Rajasthan Royals                8039
Rising Pune Supergiant          2470
Royal Challengers Bangalore    10221
Sunrisers Hyderabad             2349
Name: total_runs, dtype: int64

In [15]:
# Find Total Runs of Virat Kohli.
df.loc[df["batsman"]=="V Kohli"][["total_runs"]].sum()

#df.loc[df['first_name']=='Mihir']

total_runs    1499
dtype: int64

In [16]:
# Find Total Runs of Your Fav Player.

df.loc[df["batsman"]=="SR Tendulkar"][["total_runs"]].sum()

total_runs    1730
dtype: int64

In [27]:
# Extra Runs Given By All Bowlers in a League.

df.groupby(["bowler"])[["extra_runs"]].sum()

              extra_runs
bowler
A Choudhary            7
A Flintoff             1
A Kumble              62
A Mishra              60
A Mithun              19
...                  ...
YA Abdulla            17
YK Pathan             50
YS Chahal             30
Yuvraj Singh          11
Z Khan                89

[285 rows x 1 columns]

In [17]:
df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [18]:
# Extra Runs Given By TS Mills.

df[df["bowler"]=="TS Mills"][["extra_runs"]].sum()

extra_runs    13
dtype: int64

In [19]:
# Catches Taken By Mandeep Singh.

#df.loc[df["dismissal_kind"]=="caught"][df["fielder"]=="Mandeep Singh"]
p =df[df['dismissal_kind']=='caught']
p[p['fielder']=='Mandeep Singh'][['batsman','dismissal_kind']]

              batsman dismissal_kind
11          DA Warner         caught
2728   MJ McClenaghan         caught
3922     DT Christian         caught
4691         DR Smith         caught
6355        CR Woakes         caught
9751         SE Marsh         caught
69340       IK Pathan         caught

In [20]:
# How Many Times DA Warner is dismissed by Mohammed Shami.

#df[df["player_dismissed"]=="DA Warner"][df["bowler"]=="Mohammed Shami"]
x=(df['bowler']=='Mohammed Shami') & (df['player_dismissed']=='DA Warner')
x.value_counts()

False    69760
True         1
dtype: int64

In [21]:
# Total Number of Wickets Taken by YS Chahal.

v = df[df["bowler"]=="YS Chahal"]["player_dismissed"]
v.count()

14

In [22]:
# Find Number of Stump Out done by MS Dhoni.

#df.loc[df["bowler"]=="MS Dhoni"] & [df["dismissal_kind"]=="Stumped"]

y=(df['fielder']=='MS Dhoni') & (df['dismissal_kind']=='stumped')

z = df[y][['fielder','batsman','dismissal_kind']]
z

        fielder         batsman dismissal_kind
3024   MS Dhoni     BB McCullum        stumped
4006   MS Dhoni  AB de Villiers        stumped
11944  MS Dhoni     CJ Anderson        stumped
28296  MS Dhoni      RV Uthappa        stumped
32944  MS Dhoni       DA Warner        stumped
35415  MS Dhoni        GC Smith        stumped
35445  MS Dhoni         AS Raut        stumped
49905  MS Dhoni       AT Rayudu        stumped
51089  MS Dhoni       MD Mishra        stumped
52411  MS Dhoni        CH Gayle        stumped
52422  MS Dhoni       DJ Hussey        stumped
52495  MS Dhoni         WP Saha        stumped
54962  MS Dhoni       MD Mishra        stumped
55630  MS Dhoni        MS Bisla        stumped
55677  MS Dhoni      EJG Morgan        stumped
55692  MS Dhoni       MK Tiwary        stumped
60699  MS Dhoni       AT Rayudu        stumped

In [23]:
z.count()

fielder           17
batsman           17
dismissal_kind    17
dtype: int64

In [24]:
# How Many Times S Dhawan Got Out by lbw.

df.loc[df["batsman"]=="S Dhawan"][df["dismissal_kind"]=="lbw"]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
31390,135,2,Mumbai Indians,Kings XI Punjab,5,1,S Dhawan,JP Duminy,YA Abdulla,0,...,0,0,0,0,0,0,0,S Dhawan,lbw,NaN
46812,199,1,Mumbai Indians,Deccan Chargers,4,3,S Dhawan,SR Tendulkar,Jaskaran Singh,0,...,0,0,0,0,0,0,0,S Dhawan,lbw,NaN

In [25]:
# Total number sixes hit by MS Dhoni.

#six = df[(df["batsman_runs"]=="6")] & (df["batsman"]=="MS Dhoni")
#[six.value_counts()]

f=df[(df["batsman"]=="MS Dhoni") & (df["total_runs"]==6)]

[f.count()]

[match_id            62
 inning              62
 batting_team        62
 bowling_team        62
 over                62
 ball                62
 batsman             62
 non_striker         62
 bowler              62
 is_super_over       62
 wide_runs           62
 bye_runs            62
 legbye_runs         62
 noball_runs         62
 penalty_runs        62
 batsman_runs        62
 extra_runs          62
 total_runs          62
 player_dismissed     0
 dismissal_kind       0
 fielder              0
 dtype: int64]

In [26]:
# Total numbers of balls faced by MI Players.

df.loc[df["batting_team"]=="Mumbai Indians"]["ball"].sum()

31672

In [27]:
# Total numbers of balls faced by KKR Players.

df.loc[df["batting_team"]=="Kolkata Knight Riders"][["ball"]].sum()

ball    28638
dtype: int64

In [28]:
# Find the total number of runs scored by Sachin Tendulkar.

df.loc[df["batsman"]=="SR Tendulkar"][["total_runs"]].sum()

total_runs    1730
dtype: int64

In [29]:
# Find the total number of balls faced by Schin Tendulkar.

df.loc[df["batsman"]=="SR Tendulkar"][["ball"]].sum()

ball    4996
dtype: int64

In [30]:
# Find Sachin Tendulkar's dismissal types in IPL.

df.loc[df["batsman"]=="SR Tendulkar"]["dismissal_kind"].value_counts()

caught               23
bowled                7
lbw                   5
run out               3
caught and bowled     1
stumped               1
Name: dismissal_kind, dtype: int64

In [31]:
# Find the bowlers who dismissed SR Tendulkar.

df[df["player_dismissed"]=="SR Tendulkar"]["bowler"].value_counts()

PP Chawla          2
IK Pathan          2
R Sharma           2
R Vinay Kumar      2
PJ Sangwan         2
RP Singh           2
A Mishra           2
Joginder Sharma    1
JH Kallis          1
T Thushara         1
DW Steyn           1
SB Jakati          1
DE Bollinger       1
AL Menaria         1
RJ Harris          1
Yuvraj Singh       1
P Kumar            1
L Balaji           1
R Bhatia           1
AD Mascarenhas     1
Shoaib Akhtar      1
SK Raina           1
SK Warne           1
D du Preez         1
AB Agarkar         1
VS Malik           1
LR Shukla          1
PP Ojha            1
SK Trivedi         1
VY Mahesh          1
Shahid Afridi      1
Anand Rajan        1
Name: bowler, dtype: int64

In [32]:
# How many times was Suresh Raina dismissed.


df.loc[df["player_dismissed"]=="SK Raina"][["batsman"]].count()

batsman    59
dtype: int64

In [33]:
# Display player details who hit the maximum no of sixes in the current IPL tournament.

df[df["total_runs"]==6]["batsman"]

10           DA Warner
47        MC Henriques
75        Yuvraj Singh
89        Yuvraj Singh
91        MC Henriques
             ...
69653         MR Marsh
69657       WD Parnell
69690          S Sohal
69693          S Sohal
69748    KC Sangakkara
Name: batsman, Length: 2920, dtype: object

In [34]:
# What is the Overall No Balls Runs for each team in the dataset?

nb = df.groupby(["noball_runs"])
nb
for i in nb:
    print(i)

(0,        match_id  inning         batting_team                 bowling_team  \
0             1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
1             1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
2             1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
3             1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
4             1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
...         ...     ...                  ...                          ...
69756       295       2      Deccan Chargers                Pune Warriors
69757       295       2      Deccan Chargers                Pune Warriors
69758       295       2      Deccan Chargers                Pune Warriors
69759       295       2      Deccan Chargers                Pune Warriors
69760       295       2      Deccan Chargers                Pune Warriors

       over  ball       batsman   non_striker        bowler  is_super_over  \
0         1     1     DA Warner      S Dhawan      TS Mills              0
1         1     2     DA Warner      S Dhawan      TS Mills              0
2         1     3     DA Warner      S Dhawan      TS Mills              0
3         1     4     DA Warner      S Dhawan      TS Mills              0
4         1     5     DA Warner      S Dhawan      TS Mills              0
...     ...   ...           ...           ...           ...            ...
69756    16     4     JP Duminy  DT Christian      R Sharma              0
69757    16     5     JP Duminy  DT Christian      R Sharma              0
69758    16     6     JP Duminy  DT Christian      R Sharma              0
69759    16     7     JP Duminy  DT Christian      R Sharma              0
69760    17     1  DT Christian     JP Duminy  Yuvraj Singh              0

       ...  bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
0      ...         0            0            0             0             0
1      ...         0            0            0             0             0
2      ...         0            0            0             0             4
3      ...         0            0            0             0             0
4      ...         0            0            0             0             0
...    ...       ...          ...          ...           ...           ...
69756  ...         0            0            0             0             0
69757  ...         0            0            0             0             2
69758  ...         0            0            0             0             0
69759  ...         0            0            0             0             0
69760  ...         0            0            0             0             4

       extra_runs  total_runs  player_dismissed dismissal_kind fielder
0               0           0               NaN            NaN     NaN
1               0           0               NaN            NaN     NaN
2               0           4               NaN            NaN     NaN
3               0           0               NaN            NaN     NaN
4               2           2               NaN            NaN     NaN
...           ...         ...               ...            ...     ...
69756           0           0               NaN            NaN     NaN
69757           0           2               NaN            NaN     NaN
69758           1           1               NaN            NaN     NaN
69759           0           0               NaN            NaN     NaN
69760           0           4               NaN            NaN     NaN

[69431 rows x 21 columns])
(1,        match_id  inning                 batting_team  \
9             1       1          Sunrisers Hyderabad
182           1       2  Royal Challengers Bangalore
1440          7       1        Kolkata Knight Riders
1443          7       1        Kolkata Knight Riders
1545          7       1        Kolkata Knight Riders
...         ...     ...                          ...
68014       288       1             Rajasthan Royals
68110       288       1             Rajasthan Royals
68322       289       1          Chennai Super Kings
69490       294       2         Kochi Tuskers Kerala
69493       294       2         Kochi Tuskers Kerala

                      bowling_team  over  ball      batsman       non_striker  \
9      Royal Challengers Bangalore     2     3    DA Warner          S Dhawan
182            Sunrisers Hyderabad    10     1    KM Jadhav           TM Head
1440                Mumbai Indians     3     3      CA Lynn         G Gambhir
1443                Mumbai Indians     3     6      CA Lynn         G Gambhir
1545                Mumbai Indians    20     2    MK Pandey         SP Narine
...                            ...   ...   ...          ...               ...
68014  Royal Challengers Bangalore     4     1     R Dravid         SR Watson
68110  Royal Challengers Bangalore    19     5    DH Yagnik           AS Raut
68322             Delhi Daredevils    17     3  S Badrinath          MS Dhoni
69490             Rajasthan Royals     1     2  BB McCullum  DPMD Jayawardene
69493             Rajasthan Royals     1     5  BB McCullum  DPMD Jayawardene

               bowler  is_super_over  ...  bye_runs  legbye_runs  noball_runs  \
9         A Choudhary              0  ...         0            0            1
182      MC Henriques              0  ...         0            0            1
1440        JJ Bumrah              0  ...         0            0            1
1443        JJ Bumrah              0  ...         0            0            1
1545   MJ McClenaghan              0  ...         0            0            1
...               ...            ...  ...       ...          ...          ...
68014   CK Langeveldt              0  ...         0            0            1
68110        CH Gayle              0  ...         0            0            1
68322       IK Pathan              0  ...         0            0            1
69490         SW Tait              0  ...         0            0            1
69493         SW Tait              0  ...         0            0            1

       penalty_runs  batsman_runs  extra_runs  total_runs  player_dismissed  \
9                 0             0           1           1               NaN
182               0             1           1           2               NaN
1440              0             1           1           2               NaN
1443              0             1           1           2               NaN
1545              0             4           1           5               NaN
...             ...           ...         ...         ...               ...
68014             0             0           1           1               NaN
68110             0             1           1           2               NaN
68322             0             2           1           3               NaN
69490             0             0           1           1               NaN
69493             0             0           1           1               NaN

      dismissal_kind fielder
9                NaN     NaN
182              NaN     NaN
1440             NaN     NaN
1443             NaN     NaN
1545             NaN     NaN
...              ...     ...
68014            NaN     NaN
68110            NaN     NaN
68322            NaN     NaN
69490            NaN     NaN
69493            NaN     NaN

[320 rows x 21 columns])
(2,        match_id  inning           batting_team          bowling_team  over  \
3421         15       1       Delhi Daredevils       Kings XI Punjab    17
7958         34       1          Gujarat Lions        Mumbai Indians    19
30663       132       2  Kolkata Knight Riders        Mumbai Indians     2
56972       241       1       Delhi Daredevils      Rajasthan Royals    20
61978       262       2          Pune Warriors   Chennai Super Kings     5
63626       269       1       Delhi Daredevils  Kochi Tuskers Kerala    16

       ball      batsman       non_striker      bowler  is_super_over  ...  \
3421      2  CJ Anderson         CH Morris   MM Sharma              0  ...
7958      2       AJ Tye       JP Faulkner   JJ Bumrah              0  ...
30663     3  BB McCullum          CH Gayle  SL Malinga              0  ...
56972     3    IK Pathan  RE van der Merwe     SW Tait              0  ...
61978     2   RV Uthappa         MK Pandey   JA Morkel              0  ...
63626     1      TR Birt          V Sehwag     B Akhil              0  ...

       bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
3421          0            0            2             0             0
7958          0            0            2             0             0
30663         0            0            2             0             0
56972         0            0            2             0             0
61978         0            0            2             0             0
63626         0            0            2             0             0

       extra_runs  total_runs  player_dismissed dismissal_kind fielder
3421            2           2               NaN            NaN     NaN
7958            2           2               NaN            NaN     NaN
30663           2           2               NaN            NaN     NaN
56972           2           2               NaN            NaN     NaN
61978           2           2               NaN            NaN     NaN
63626           2           2               NaN            NaN     NaN

[6 rows x 21 columns])
(5,        match_id  inning                 batting_team         bowling_team  \
30510       131       2              Deccan Chargers  Chennai Super Kings
42590       181       2  Royal Challengers Bangalore      Kings XI Punjab
47878       203       1             Delhi Daredevils     Rajasthan Royals
54477       230       2        Kolkata Knight Riders       Mumbai Indians

       over  ball      batsman  non_striker        bowler  is_super_over  ...  \
30510    17     2     HH Gibbs  AA Bilakhia     JA Morkel              0  ...
42590     4     2    JH Kallis    MK Pandey   S Sreesanth              0  ...
47878    18     2   KD Karthik  AB McDonald       SW Tait              0  ...
54477    13     3  BB McCullum   SC Ganguly  CRD Fernando              0  ...

       bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
30510         0            0            5             0             0
42590         0            0            5             0             0
47878         0            0            5             0             0
54477         0            0            5             0             0

       extra_runs  total_runs  player_dismissed dismissal_kind fielder
30510           5           5               NaN            NaN     NaN
42590           5           5               NaN            NaN     NaN
47878           5           5               NaN            NaN     NaN
54477           5           5               NaN            NaN     NaN

[4 rows x 21 columns])

In [95]:
# Which player scored the most runs in the dataset?

max = df["total_runs"].max()
df[df["total_runs"]==max]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
2443,11,1,Kings XI Punjab,Kolkata Knight Riders,14,5,DA Miller,WP Saha,C de Grandhomme,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
5853,25,1,Sunrisers Hyderabad,Rising Pune Supergiant,15,3,DA Warner,MC Henriques,Imran Tahir,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
11616,50,1,Kings XI Punjab,Mumbai Indians,4,2,MJ Guptill,WP Saha,SL Malinga,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
11691,50,1,Kings XI Punjab,Mumbai Indians,16,1,SE Marsh,WP Saha,MJ McClenaghan,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
15401,66,1,Deccan Chargers,Delhi Daredevils,20,6,WPUJC Vaas,RP Singh,VY Mahesh,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
18537,79,2,Delhi Daredevils,Chennai Super Kings,7,3,V Sehwag,G Gambhir,Joginder Sharma,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
23170,99,2,Mumbai Indians,Kolkata Knight Riders,6,3,ST Jayasuriya,DJ Thornely,I Sharma,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
24676,106,2,Mumbai Indians,Kings XI Punjab,20,1,SD Chitnis,CRD Fernando,VRV Singh,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
25658,110,2,Chennai Super Kings,Rajasthan Royals,19,5,JA Morkel,MS Gony,MM Patel,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
29251,126,2,Kolkata Knight Riders,Rajasthan Royals,16,6,SC Ganguly,Yashpal Singh,MM Patel,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
36547,156,2,Royal Challengers Bangalore,Kolkata Knight Riders,18,6,MV Boucher,LRPL Taylor,I Sharma,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
38632,165,1,Delhi Daredevils,Rajasthan Royals,19,2,AB de Villiers,KD Karthik,MM Patel,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
40704,173,2,Royal Challengers Bangalore,Chennai Super Kings,19,1,LRPL Taylor,V Kohli,JDP Oram,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
47116,200,1,Delhi Daredevils,Kolkata Knight Riders,14,6,DA Warner,PD Collingwood,AB Agarkar,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
47770,202,2,Chennai Super Kings,Royal Challengers Bangalore,19,6,SK Raina,C Ganapathy,R Vinay Kumar,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
55967,237,1,Kochi Tuskers Kerala,Royal Challengers Bangalore,6,2,VVS Laxman,BB McCullum,A Mithun,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
58900,249,1,Deccan Chargers,Kings XI Punjab,18,2,DT Christian,MS Gony,R McLaren,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
64885,274,2,Kochi Tuskers Kerala,Delhi Daredevils,4,6,BB McCullum,M Klinger,UT Yadav,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
67014,283,2,Royal Challengers Bangalore,Kochi Tuskers Kerala,3,2,CH Gayle,TM Dilshan,P Parameswaran,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN

In [145]:
#How many matches played by Mumbai Indians
(df["batting_team"] == "Mumbai Indians").sum()

#df['batting_team'].value_counts()['Mumbai Indians']

8662

In [36]:
#Total Run of S Dhawan against sunrisers Hyderabad

df.loc[df["bowling_team"]=="Sunrisers Hyderabad"][df["batsman"]=="Shikhar Dhawan"][["total_runs"]].sum()

total_runs    0.0
dtype: float64

In [37]:
df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [38]:
# Extra Runs Given by MS Dhoni
j = df[df["bowler"]=="MS Dhoni"][["extra_runs"]].sum()
j

extra_runs    0.0
dtype: float64

In [39]:
#Find V Kohli four and six against all teams

team=df[(df['batsman']=='V Kohli') & ((df['batsman_runs']==4) | (df['batsman_runs']==6))]
team.groupby('bowling_team')['batsman_runs'].count()

bowling_team
Chennai Super Kings       25
Deccan Chargers           31
Delhi Daredevils          23
Gujarat Lions              9
Kings XI Punjab           23
Kochi Tuskers Kerala       7
Kolkata Knight Riders      8
Mumbai Indians            27
Pune Warriors              8
Rajasthan Royals           8
Rising Pune Supergiant     9
Name: batsman_runs, dtype: int64

In [40]:
# Total Number of balls faced by Gujarat Titans

df[df["batting_team"]=="Gujarat Lions"][["ball"]].sum()

ball    6044
dtype: int64

In [41]:
# Which Team scored most runs in first 4 overs?

df[df["over"]<=4]["batting_team"].max()

'Sunrisers Hyderabad'

In [42]:
# Most runs taken by which batsman?
df[df["total_runs"]==7]["batsman"]

2443          DA Miller
5853          DA Warner
11616        MJ Guptill
11691          SE Marsh
15401        WPUJC Vaas
18537          V Sehwag
23170     ST Jayasuriya
24676        SD Chitnis
25658         JA Morkel
29251        SC Ganguly
36547        MV Boucher
38632    AB de Villiers
40704       LRPL Taylor
47116         DA Warner
47770          SK Raina
55967        VVS Laxman
58900      DT Christian
64885       BB McCullum
67014          CH Gayle
Name: batsman, dtype: object

In [148]:
# Which Team has scored highest runs?

#df[df["batting_team"]]["total_runs"].value_counts()
df.groupby('batting_team')['total_runs'].sum().sort_values(ascending=False)

batting_team
Mumbai Indians                 11202
Kings XI Punjab                10763
Delhi Daredevils               10654
Royal Challengers Bangalore    10221
Kolkata Knight Riders           9924
Chennai Super Kings             9253
Deccan Chargers                 8931
Rajasthan Royals                8039
Rising Pune Supergiant          2470
Gujarat Lions                   2412
Sunrisers Hyderabad             2349
Kochi Tuskers Kerala            1760
Pune Warriors                   1657
Name: total_runs, dtype: int64

In [131]:
# Which Team has scored lowest runs?

df.groupby('batting_team')['total_runs'].sum().sort_values()

batting_team
Pune Warriors                   1657
Kochi Tuskers Kerala            1760
Sunrisers Hyderabad             2349
Gujarat Lions                   2412
Rising Pune Supergiant          2470
Rajasthan Royals                8039
Deccan Chargers                 8931
Chennai Super Kings             9253
Kolkata Knight Riders           9924
Royal Challengers Bangalore    10221
Delhi Daredevils               10654
Kings XI Punjab                10763
Mumbai Indians                 11202
Name: total_runs, dtype: int64

In [57]:
df.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [117]:
# Which bowler has taken highest number of wickets?
#df["bowler"]["player_dismissed"]

df.groupby('bowler')[['player_dismissed']].value_counts()

#vmax = df["player_dismissed"].max()
#df[df["bowler"]==vmax]

bowler       player_dismissed
A Choudhary  DA Warner           1
             MM Sharma           1
             PA Patel            1
             SP Narine           1
             HM Amla             1
                                ..
Z Khan       JP Duminy           1
             JR Hopes            1
             KAJ Roach           1
             KM Jadhav           1
             Yuvraj Singh        1
Length: 3160, dtype: int64

In [122]:
# Which bowler has given lowest runs?

#max = df["total_runs"].min()
#df[df["bowler"]==max]

df.groupby('bowler')['total_runs'].sum().sort_values()

bowler
AM Rahane              5
LA Carseldine          6
RN ten Doeschate       7
Y Gnaneswara Rao       7
RS Gavaskar            8
                    ...
PP Chawla           1536
IK Pathan           1573
Z Khan              1575
RP Singh            1604
P Kumar             1639
Name: total_runs, Length: 285, dtype: int64

In [123]:
# Which bowler has given highest runs?

df.groupby('bowler')['total_runs'].sum().sort_values(ascending=False)

bowler
P Kumar             1639
RP Singh            1604
Z Khan              1575
IK Pathan           1573
PP Chawla           1536
                    ...
RS Gavaskar            8
RN ten Doeschate       7
Y Gnaneswara Rao       7
LA Carseldine          6
AM Rahane              5
Name: total_runs, Length: 285, dtype: int64

In [129]:
# How many players have made centuries?
df.query("total_runs >= 100").batsman.value_counts()

Series([], Name: batsman, dtype: int64)

In [152]:
# How many matches the players have got extra runs?
df.groupby('batsman')['extra_runs'].sum().sort_values(ascending=False)

batsman
SR Tendulkar     152
G Gambhir        127
RV Uthappa       112
BB McCullum      108
JH Kallis        101
                ...
DL Chahar          0
DM Bravo           0
DP Nannes          0
DP Vijaykumar      0
CK Langeveldt      0
Name: extra_runs, Length: 383, dtype: int64

In [50]:
# How many no ball runs Mumbai Indians have got?
df[df["batting_team"]=="Mumbai Indians"][["noball_runs"]].sum()

noball_runs    42
dtype: int64

In [51]:
# How many legbye runs Mumbai Indians have got?
df[df["batting_team"]=="Mumbai Indians"][["legbye_runs"]].sum()

legbye_runs    253
dtype: int64

In [52]:
# How many bye runs Mumbai Indians have got?
df[df["batting_team"]=="Mumbai Indians"][["bye_runs"]].sum()

bye_runs    49
dtype: int64

In [54]:
# How many Penalty runs Mumbai Indians have got?
df[df["batting_team"]=="Mumbai Indians"][["penalty_runs"]].sum()

penalty_runs    0
dtype: int64

In [55]:
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69756,295,2,Deccan Chargers,Pune Warriors,16,4,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
69757,295,2,Deccan Chargers,Pune Warriors,16,5,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
69758,295,2,Deccan Chargers,Pune Warriors,16,6,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
69759,295,2,Deccan Chargers,Pune Warriors,16,7,JP Duminy,DT Christian,R Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
69760,295,2,Deccan Chargers,Pune Warriors,17,1,DT Christian,JP Duminy,Yuvraj Singh,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN